body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: auto;
    padding: 4em;
    width: 80%;
}

header {
    padding: 1em 0;
}

main {
    padding: 1em 0;
}

footer {
    /* padding: 1em 0; */
    text-align: center;
}

hr {
    width: 70%;
    margin: 0;
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); */
}

h1 {
    font-size: 2.5em;
    /* margin: 0; */
}

h2 {
    font-size: 1em;
    color: #309E45;
    /* margin: 0; */
}

h4 {
    /* font-size: 1.2em; */
    /* margin: 0.2em 0; */
    color: #2F7FC8;

}

h3 {
    /* font-size: 1.2em; */
    /* margin: 0; */
    color: #309E45;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

p {
    font-size: 0.9em;

    /* margin: 0; */
}

a {
    color: black;
    text-decoration: none;
}

ul {
    /* list-style-type: none; */
    /* margin: 0; */
    /* padding: 0;  */
    padding: 0 1.2em;
}

li {
    font-size: 0.9em;
    /* font-size: 1.1em; */
    /* margin: 0;         */
}